<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Querying Nobel Prize Linked Data</title>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="app.js"></script>
  <script src="sparql-service.js"></script>
</head>
<body>
  <h1>Query for Nobel laureates</h1>
  <p>This web app allows you to query the <a href="http://www.nobelprize.org/nobel_organizations/nobelmedia/nobelprize_org/developer/manual-linkeddata/terms.html">
    Nobel Prize Linked Data dataset</a>. Choose among the criteria and options below to generate a SPARQL query.
  </p>

  <div class="example-questions" ng-controller="ExampleQuestionsCtrl">
    <a href="" ng-click="toggle()">Example questions</a>
    <ul ng-show="expanded">
      <li><a href="#?gender=female&amp;shared=yes&amp;aggregate=COUNT">
        How many female Nobel laureates had to share it with someone else?</a>
        <ul>
          <li><a href="#?groupBy=gender&amp;aggregate=AVG&amp;shareQuota">
            Is the quota of people sharing higher or lower than for males?</a>
        </ul>
      <li><a href="#?countryOfBirth&amp;countryOfAffiliation&amp;aggregate=COUNT">
        How many Nobel laureates were affiliated with a university in the same country as they were born?</a>
      <li><a href="#?groupBy=laureate&amp;multipleAwards">
        Which Nobel laureates have won the prize more than once?</a>
      <li><a href="#?aggregate=AVG&amp;age">
        What is the average age when winning the Nobel prize?</a>
        <ul>
          <li><a href="#?aggregate=AVG&amp;age&amp;groupBy=category">
            Does it vary between categories?</a>
          <li><a href="#?aggregate=AVG&amp;age&amp;groupBy=gender">
            Between gender?</a>
        </ul>
    </ul>
  </div>

  <form ng-controller="QueryFormCtrl">
    <ul>
      <li>
        <label>Gender:
          <select ng-model="q.gender" ng-options="value for value in ['male', 'female']">
            <option value="">-</option>
          </select>
        </label>
      <li>
        Prize category:
        <label ng-repeat="name in categories">
          <input type="checkbox" ng-model="q.category[name]"> {{name}}
        </label>
      <li>
        <label>Shared:
          <select ng-model="q.shared" ng-options="value for value in ['yes', 'no']">
            <option value="">-</option>
          </select>
        </label>
      <li>
        <label>Still alive:
          <select ng-model="q.stillAlive" ng-options="value for value in ['yes', 'no']">
            <option value="">-</option>
          </select>
        </label>
      <li>
        Country:
        <label>
          <input type="checkbox" ng-model="q.countryOfBirth"> of birth
        </label>
        <label>
          <input type="checkbox" ng-model="q.countryOfAffiliation"> of affiliation (university)
        </label>
      <li>
        <label>Aggregate:
          <select ng-model="q.aggregate">
            <option value="">-</option>
            <option value="COUNT">count</option>
            <option value="AVG">average</option>
            <option value="MIN">min</option>
            <option value="MAX">max</option>
          </select>
        </label>
        <label>
          <input type="checkbox" ng-model="q.shareQuota" ng-disabled="q.aggregate === 'COUNT'">
          share quota
        </label>
        <label>
          <input type="checkbox" ng-model="q.age" ng-disabled="q.aggregate === 'COUNT'">
          age (at the year of the award)
        </label>
      <li>
        <label>Group by:
          <select ng-model="q.groupBy" ng-options="value for value in groups">
            <option value="">-</option>
          </select>
        </label>
        <label>
          <input type="checkbox" ng-model="q.multipleAwards"> have won the prize more than once
        </label>
    </ul>
        
    <button type="submit" ng-click="submitQuery()">Submit</button>
    <button ng-click="resetQuery()">Reset</button>
  </form>

  <div ng-controller="QueryResultsCtrl">
    <form action="http://data.nobelprize.org/snorql/">
      <textarea ng-model="queryString" name="query">
      </textarea>
      <button type="submit">Edit SPARQL query</button>
    </form>
    <pre>{{errorMessage}}</pre>

    <table>
      <tr>
        <th ng-repeat="varName in vars">{{varName}}</th>
      </tr>
      <tr ng-repeat="binding in bindings">
        <td ng-repeat="varName in vars" ng-switch="binding[varName].type">
          <a ng-switch-when="uri" ng-href="{{binding[varName].value}}">{{binding|resourceLabel:varName}}</a>
          <span ng-switch-when="typed-literal">{{binding[varName].value|number}}</span>
          <span ng-switch-default="">{{binding[varName].value}}</span>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
